$white: #fff;
$primary-color: #0070FC;
$accent-color: #FF731E;
$attention-color: #FFA336;
$warning-color: #E8ED0A;
$ok-color: #04C800;
$light-blue: #E6F1FF;
$alert-color-1: #FF5018;
$alert-color-2: #FF1414;
$surface-color: #FFF;
$focus-contrast-color: rgba(230, 241, 255, 10%);
$primary-color-100: $primary-color;
$primary-color-90: #1A7EFC;
$primary-color-80: #338DFD;
$primary-color-70: #4D9BFD;
$primary-color-60: #66A9FD;
$primary-color-50: #80B7FD;
$primary-color-40: #99C6FE;
$primary-color-30: #B3D4FE;
$primary-color-20: #CCE2FE;
$primary-color-10: #E6F1FF;
$primary-color-dark: #0061DA;
$accent-color-100: $accent-color;
$accent-color-90: #FF8135;
$accent-color-80: #FF8F4B;
$accent-color-70: #FF9D62;
$accent-color-60: #FFAB78;
$accent-color-50: #FFB98F;
$accent-color-40: #FFC7A5;
$accent-color-30: #FFD5BC;
$accent-color-20: #FFE3D2;
$accent-color-10: #FFF1E9;
$accent-color-dark: #EF6400;
$grey-1: #FAFBFC;
$grey-2: #F7F8FA;
$grey-3: #F2F3F5;
$grey-4: #EDEEF0;
$grey-5: #E7E9EC;
$grey-6: #DCE1E5;
$grey-7: #D3D9DE;
$grey-8: #C5D0DB;
$grey-9: #AEB7C2;
$grey-10: #DCE1E5;
$grey-11: #818C99;
$grey-12: #6F7985;
$grey-13: #626D7A;
$grey-14: #46505C;
$grey-15: #373E48;
$grey-16: #21272A;
$grey-17: #121619;
$grey-18: #18191F;
$text-base-color: $grey-15;
$sidebar-bg: #F5F6FA;

@import "colors/index";
