$blue-dark-25: #F5F8FF;
$blue-dark-50: #EFF4FF;
$blue-dark-100: #D1E0FF;
$blue-dark-200: #B2CCFF;
$blue-dark-300: #84ADFF;
$blue-dark-400: #528BFF;
$blue-dark-500: #2970FF;
$blue-dark-600: #155EEF;
$blue-dark-700: #004EEB;
$blue-dark-800: #0040C1;
$blue-dark-900: #00359E;
