$blue-light-25: #F5FBFF;
$blue-light-50: #F0F9FF;
$blue-light-100: #E0F2FE;
$blue-light-200: #B9E6FE;
$blue-light-300: #7CD4FD;
$blue-light-400: #36BFFA;
$blue-light-500: #0BA5EC;
$blue-light-600: #0086C9;
$blue-light-700: #026AA2;
$blue-light-800: #065986;
$blue-light-900: #0B4A6F;
