$blue-25: #F5FAFF;
$blue-50: #EFF8FF;
$blue-100: #D1E9FF;
$blue-200: #B2DDFF;
$blue-300: #84CAFF;
$blue-400: #53B1FD;
$blue-500: #2E90FA;
$blue-600: #1570EF;
$blue-700: #175CD3;
$blue-800: #1849A9;
$blue-900: #194185;
