$cyan-25: #F5FEFF;
$cyan-50: #ECFDFF;
$cyan-100: #CFF9FE;
$cyan-200: #A5F0FC;
$cyan-300: #67E3F9;
$cyan-400: #2CE;
$cyan-500: #06AED4;
$cyan-600: #088AB2;
$cyan-700: #0E7090;
$cyan-800: #155B75;
$cyan-900: #164C63;
