$error-25: #FFFBFA;
$error-50: #FEF3F2;
$error-100: #FEE4E2;
$error-200: #FECDCA;
$error-300: #FDA29B;
$error-400: #F97066;
$error-500: #F04438;
$error-600: #D92D20;
$error-700: #B42318;
$error-800: #912018;
$error-900: #7A271A;
