$fuchsia-25: #FEFAFF;
$fuchsia-50: #FDF4FF;
$fuchsia-100: #FBE8FF;
$fuchsia-200: #F6D0FE;
$fuchsia-300: #EEAAFD;
$fuchsia-400: #E478FA;
$fuchsia-500: #D444F1;
$fuchsia-600: #BA24D5;
$fuchsia-700: #9F1AB1;
$fuchsia-800: #821890;
$fuchsia-900: #6F1877;
