$gray-warm-25: #FDFDFC;
$gray-warm-50: #FAFAF9;
$gray-warm-100: #F5F5F4;
$gray-warm-200: #E7E5E4;
$gray-warm-300: #D7D3D0;
$gray-warm-400: #A9A29D;
$gray-warm-500: #79716B;
$gray-warm-600: #57534E;
$gray-warm-700: #44403C;
$gray-warm-800: #292524;
$gray-warm-900: #1C1917;
