$gray-modern-25: #FCFCFD;
$gray-modern-50: #F8FAFC;
$gray-modern-100: #EEF2F6;
$gray-modern-200: #E3E8EF;
$gray-modern-300: #CDD5DF;
$gray-modern-400: #9AA4B2;
$gray-modern-500: #697586;
$gray-modern-600: #4B5565;
$gray-modern-700: #364152;
$gray-modern-800: #202939;
$gray-modern-900: #121926;
