$gray-blue-25: #FCFCFD;
$gray-blue-50: #F8F9FC;
$gray-blue-100: #EAECF5;
$gray-blue-200: #D5D9EB;
$gray-blue-300: #B3B8DB;
$gray-blue-400: #717BBC;
$gray-blue-500: #4E5BA6;
$gray-blue-600: #3E4784;
$gray-blue-700: #363F72;
$gray-blue-800: #293056;
$gray-blue-900: #101323;
