$gray-iron-25: #FCFCFC;
$gray-iron-50: #FAFAFA;
$gray-iron-100: #F4F4F5;
$gray-iron-200: #E4E4E7;
$gray-iron-300: #D1D1D6;
$gray-iron-400: #A0A0AB;
$gray-iron-500: #70707B;
$gray-iron-600: #51525C;
$gray-iron-700: #3F3F46;
$gray-iron-800: #26272B;
$gray-iron-900: #18181B;
