$green-light-25: #FAFEF5;
$green-light-50: #F3FEE7;
$green-light-100: #E4FBCC;
$green-light-200: #D0F8AB;
$green-light-300: #A6EF67;
$green-light-400: #85E13A;
$green-light-500: #66C61C;
$green-light-600: #4CA30D;
$green-light-700: #3B7C0F;
$green-light-800: #326212;
$green-light-900: #2B5314;
