$indigo-25: #F5F8FF;
$indigo-50: #EEF4FF;
$indigo-100: #E0EAFF;
$indigo-200: #C7D7FE;
$indigo-300: #A4BCFD;
$indigo-400: #8098F9;
$indigo-500: #6172F3;
$indigo-600: #444CE7;
$indigo-700: #3538CD;
$indigo-800: #2D31A6;
$indigo-900: #2D3282;
