$moss-25: #FAFDF7;
$moss-50: #F5FBEE;
$moss-100: #E6F4D7;
$moss-200: #CEEAB0;
$moss-300: #ACDC79;
$moss-400: #86CB3C;
$moss-500: #669F2A;
$moss-600: #4F7A21;
$moss-700: #3F621A;
$moss-800: #335015;
$moss-900: #2B4212;
