$orange-dark-25: #FFF9F5;
$orange-dark-50: #FFF4ED;
$orange-dark-100: #FFE6D5;
$orange-dark-200: #FFD6AE;
$orange-dark-300: #FF9C66;
$orange-dark-400: #FF692E;
$orange-dark-500: #FF4405;
$orange-dark-600: #E62E05;
$orange-dark-700: #BC1B06;
$orange-dark-800: #97180C;
$orange-dark-900: #771A0D;
