$pink-25: #FEF6FB;
$pink-50: #FDF2FA;
$pink-100: #FCE7F6;
$pink-200: #FCCEEE;
$pink-300: #FAA7E0;
$pink-400: #F670C7;
$pink-500: #EE46BC;
$pink-600: #DD2590;
$pink-700: #C11574;
$pink-800: #9E165F;
$pink-900: #851651;
