$primary-25: #F5FAFF;
$primary-50: #EFF8FF;
$primary-100: #D1E9FF;
$primary-200: #B2DDFF;
$primary-300: #84CAFF;
$primary-400: #53B1FD;
$primary-500: #2E90FA;
$primary-600: #1570EF;
$primary-700: #175CD3;
$primary-800: #1849A9;
$primary-900: #194185;
