$purple-25: #FAFAFF;
$purple-50: #F4F3FF;
$purple-100: #EBE9FE;
$purple-200: #D9D6FE;
$purple-300: #BDB4FE;
$purple-400: #9B8AFB;
$purple-500: #7A5AF8;
$purple-600: #6938EF;
$purple-700: #5925DC;
$purple-800: #4A1FB8;
$purple-900: #3E1C96;
