$rose-25: #FFF5F6;
$rose-50: #FFF1F3;
$rose-100: #FFE4E8;
$rose-200: #FECDD6;
$rose-300: #FEA3B4;
$rose-400: #FD6F8E;
$rose-500: #F63D68;
$rose-600: #E31B54;
$rose-700: #C01048;
$rose-800: #A11043;
$rose-900: #89123E;
