$teal-25: #F6FEFC;
$teal-50: #F0FDF9;
$teal-100: #CCFBEF;
$teal-200: #99F6E0;
$teal-300: #5FE9D0;
$teal-400: #2ED3B7;
$teal-500: #15B79E;
$teal-600: #0E9384;
$teal-700: #107569;
$teal-800: #125D56;
$teal-900: #134E48;
