$violet-25: #FBFAFF;
$violet-50: #F5F3FF;
$violet-100: #ECE9FE;
$violet-200: #DDD6FE;
$violet-300: #C3B5FD;
$violet-400: #A48AFB;
$violet-500: #875BF7;
$violet-600: #7839EE;
$violet-700: #6927DA;
$violet-800: #5720B7;
$violet-900: #491C96;
