$warning-25: #FFFCF5;
$warning-50: #FFFAEB;
$warning-100: #FEF0C7;
$warning-200: #FEDF89;
$warning-300: #FEC84B;
$warning-400: #FDB022;
$warning-500: #F79009;
$warning-600: #DC6803;
$warning-700: #B54708;
$warning-800: #93370D;
$warning-900: #7A2E0E;
