$yellow-25: #FEFDF0;
$yellow-50: #FEFBE8;
$yellow-100: #FEF7C3;
$yellow-200: #FEEE95;
$yellow-300: #FDE272;
$yellow-400: #FAC515;
$yellow-500: #EAAA08;
$yellow-600: #CA8504;
$yellow-700: #A15C07;
$yellow-800: #854A0E;
$yellow-900: #713B12;
